* {
    box-sizing: border-box;
}

h1, h2, h3, h3, h5, h6 {
    font-family: 'Eczar', serif;
}

p {
    font-family: 'Merriweather', Serif;
}

html {
    background: url(./bk1.jfif) no-repeat center center fixed;
    background-size: cover;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    margin: 1.5rem;
    width: 12.5rem;
    background: url(./bookCover.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 18.75rem;
}

input[type=text], input[type=number] {
    border-radius: 1.5rem;
    border: 1px solid black;
    padding: 0 0.5rem;
    width: 10rem;
    height: 1.2rem;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus, input[type=number]:focus {
    width: 100%;
}

label {
    font-weight: bold;
}

.container {
    display: none;
}

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    padding: 1rem;
    background-color: maroon;
    margin: 10% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.search {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: flex-end;
}

.search input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: maroon;
    border-radius: 0%;
    background: transparent;
    color: maroon;
    font-weight: 800;
}

.search>div{
    display: flex;
    flex-direction: column;

}

.search button{
    color: maroon
}
button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white
}

button:active{
    color:pink
}